<h1>Index </h1>


<% @categories.each do |category| %>
  <div class="category">
    <h4> <%= link_to category.name, category %></h4>
        <% category.bookmarks.each do |bookmark|%>
        <li>  <%= link_to bookmark.name, bookmark.url, target: :_blank %>
        <% end %>
        </li>
  </div>
<% end  %>
